.h-wrapper{
    /* background-color: var(--black); */
    color: white;
}

.h-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    color: var(--secondary);
}

.h-menu {
    gap: 2rem;
}
.h-menu>*:hover{
    cursor: pointer;
}
